/* CSS by Sunnie Wykert */

/* Color Palette
    Text Color: #290801
    Background Color: #F8E0CE
    Accent Color: #AB5115
    Primary Color: #402615
    Secondary Color: #EAA270
*/

/* GLOBAL (base) MOBILE FIRST */

* {
    margin: 0;
    padding: 0;
}

body {
    background-color: #F8E0CE;
    font-family: 'Open Sans', sans-serif;
    display: grid;
    grid-template-columns: 1fr;
}

header {
    margin: 1rem;
    padding: 1rem;
    color:#290801;
    text-align: center;
}

nav, footer {
    background-color:  #290801;
}

nav ul {
    list-style:  none;
    padding: 1rem;
    margin: 1rem;
    line-height: 4;
    text-align: center;
    margin-top: -.5rem;
    margin-bottom: -.5rem;
}

nav a {
    text-decoration: none;
    color: white;
    background-color: #EAA270;
    padding: 1rem 2rem;
    color: #290801;
    font-size: 18px;
    text-transform: uppercase;
    border-radius: 10px;
}

nav a:hover {
    color:#290801;
    background-color: #AB5115;
}

main ul, main a {
    list-style: none;
    text-decoration: none;
    margin-top: 2rem;
    color: #F8E0CE;
    margin-left: 1rem;
    font-weight: 600;
}

main a {
    background-color: #290801;
    padding: 1rem 2rem;
}

main a:hover {
    background-color: #AB5115;
    color: #290801;
}

main {
    color:#290801;
}

h1 {
    font-family: 'Lobster Two', serif;
    font-size: 60px;
}

h2 {
    font-family: 'Lobster Two', serif;
    color:#290801;
    margin-top: 1rem;
    margin-left: 1rem;
    padding: 1rem;
    font-size: 32px;
}

h3 {
    margin-bottom: 1rem;
    margin-top: 1rem;
}

footer {
    color:#F8E0CE;
    margin-top: 2rem;
    text-align: center;
}

p {
    margin-left: 1rem;
    padding: 1rem;
}

.subheader {
 padding-top: 0;
 font-weight: 600;
}

.card-row p {
    padding-top: 1rem;
    margin-left: -1rem;
}

.card-row {
   padding: 1rem;
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.card-row img {
    width: 100%;
}

.card-row > section {
    background-color: white;
    padding: 1rem;
    border-radius: 10px;
}

.hero img {
    width: 100%;
    object-fit: cover;
    max-height: 600px;
}

.about img {
    width: 100%;
    max-width: 650px;
}

.contact img {
    width: 100%;
    max-width: 600px;
}